# 04 - 데이터구조 만들기_종합실습

## 0.비즈니스 시나리오

* 여러분은 매장1의 데이터분석가 입니다.
* 매장1에서 가장 판매량이 많은 상품은 GA001 입니다. 
* 이 상품의 재고가 부족하지 않도록 관리하는 것은 굉장히 중요한 일입니다. 
* 그래서 여러분은 GA001의 일별 판매량을 분석하고, 이에 영향을 주는 요인이 무엇인지 찾아야 합니다.

## 1.환경준비

### (1) 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### (2) 데이터 준비

In [2]:
sales = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/ts_sales_simple.csv")
products = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/ts_product_master.csv")
stores = pd.read_csv("https://raw.githubusercontent.com/DA4BAM/dataset/master/ts_store_master.csv")

## 2.가설 수립
* GA001의 일별 판매량에 영향을 주는 요인은 무엇일까요?
* 가설의 구조는 x --> y 입니다.

* 가설1 : 전날 판매량은 다음날 판매량에 영향을 줄 것이다.

* 가설2 : 요일에 따라 판매량이 달라질 것이다.

* 가설3 : 최근 3일간의 평균 판매량은 다음날 판매량에 영향을 줄 것이다.

* 가설 4 :

* 가설 5 :

## 3.데이터구조 만들기

* 준비작업

In [6]:
data0 = sales.loc[(sales['Store_ID']==1) & (sales['Product_ID'] == 12), ['Date','Qty']]
data0.head()

            Date     Qty
6     2013-01-01     0.0
816   2013-01-02  2652.0
1626  2013-01-03  2121.0
2436  2013-01-04  2056.0
3246  2013-01-05  2216.0

### (1) 가설1

In [7]:
 data0['Qty_Lag1'] = data0['Qty'].shift()
 data0.head()

            Date     Qty  Qty_Lag1
6     2013-01-01     0.0       NaN
816   2013-01-02  2652.0       0.0
1626  2013-01-03  2121.0    2652.0
2436  2013-01-04  2056.0    2121.0
3246  2013-01-05  2216.0    2056.0

### (2) 가설2

In [8]:
data0['Date'] = pd.to_datetime(data0['Date'])

In [9]:
data0['WeekDay'] = data0['Date'].dt.day_name()
data0.head()

           Date     Qty  Qty_Lag1    WeekDay
6    2013-01-01     0.0       NaN    Tuesday
816  2013-01-02  2652.0       0.0  Wednesday
1626 2013-01-03  2121.0    2652.0   Thursday
2436 2013-01-04  2056.0    2121.0     Friday
3246 2013-01-05  2216.0    2056.0   Saturday

### (3) 가설3

In [11]:
data0['Qty_MA3'] = data0['Qty_Lag1'].rolling(3, min_periods = 1).mean()
data0.head()

           Date     Qty  Qty_Lag1    WeekDay      Qty_MA3
6    2013-01-01     0.0       NaN    Tuesday          NaN
816  2013-01-02  2652.0       0.0  Wednesday     0.000000
1626 2013-01-03  2121.0    2652.0   Thursday  1326.000000
2436 2013-01-04  2056.0    2121.0     Friday  1591.000000
3246 2013-01-05  2216.0    2056.0   Saturday  2276.333333

### (4) 가설4

### (5) 가설5